h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("./pattern.jpeg");

}

h2 {
   font-family: Helvetica;
   font-size: 32px;
   font-weight: bold;
   color: white;
}

h3 {
  font-family: Helvetica;


}

p {

  font-family: Helvetica;


}
